In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('pokemon_data.csv')
#df = pd.read_csv('pokemon_data.csv', chunksize=1000)    # for large datasets
df.head(6)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

In [4]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [5]:
print(df.columns)
print(df.head(2))
print(df.tail(3))

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False
       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [6]:
print(df['Name'][0:3])
print(df[['Name', 'HP']])
print(df.Attack)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object
                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]
0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [7]:
#find row by index location
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [8]:
#find by location
df.iloc[0,1]

'Bulbasaur'

In [9]:
#print 3 letters of all names
for index, row in df.iterrows():
    print(index, row['Name'][0:3])

0 Bul
1 Ivy
2 Ven
3 Ven
4 Cha
5 Cha
6 Cha
7 Cha
8 Cha
9 Squ
10 War
11 Bla
12 Bla
13 Cat
14 Met
15 But
16 Wee
17 Kak
18 Bee
19 Bee
20 Pid
21 Pid
22 Pid
23 Pid
24 Rat
25 Rat
26 Spe
27 Fea
28 Eka
29 Arb
30 Pik
31 Rai
32 San
33 San
34 Nid
35 Nid
36 Nid
37 Nid
38 Nid
39 Nid
40 Cle
41 Cle
42 Vul
43 Nin
44 Jig
45 Wig
46 Zub
47 Gol
48 Odd
49 Glo
50 Vil
51 Par
52 Par
53 Ven
54 Ven
55 Dig
56 Dug
57 Meo
58 Per
59 Psy
60 Gol
61 Man
62 Pri
63 Gro
64 Arc
65 Pol
66 Pol
67 Pol
68 Abr
69 Kad
70 Ala
71 Ala
72 Mac
73 Mac
74 Mac
75 Bel
76 Wee
77 Vic
78 Ten
79 Ten
80 Geo
81 Gra
82 Gol
83 Pon
84 Rap
85 Slo
86 Slo
87 Slo
88 Mag
89 Mag
90 Far
91 Dod
92 Dod
93 See
94 Dew
95 Gri
96 Muk
97 She
98 Clo
99 Gas
100 Hau
101 Gen
102 Gen
103 Oni
104 Dro
105 Hyp
106 Kra
107 Kin
108 Vol
109 Ele
110 Exe
111 Exe
112 Cub
113 Mar
114 Hit
115 Hit
116 Lic
117 Kof
118 Wee
119 Rhy
120 Rhy
121 Cha
122 Tan
123 Kan
124 Kan
125 Hor
126 Sea
127 Gol
128 Sea
129 Sta
130 Sta
131 Mr.
132 Scy
133 Jyn
134 Ele
135 Mag
136 Pin
137 Pin
138 Tau
139 Mag
140 Gya
141 Gya
142 Lap
143 Dit
144 Eev
145 Vap
146 Jol
147 Fla
148 Por
149 Oma
150 Oma
151 Kab
152 Kab
153 Aer
154 Aer
155 Sno
156 Art
157 Zap
158 Mol
159 Dra
160 Dra
161 Dra
162 Mew
163 Mew
164 Mew
165 Mew
166 Chi
167 Bay
168 Meg
169 Cyn
170 Qui
171 Typ
172 Tot
173 Cro
174 Fer
175 Sen
176 Fur
177 Hoo
178 Noc
179 Led
180 Led
181 Spi
182 Ari
183 Cro
184 Chi
185 Lan
186 Pic
187 Cle
188 Igg
189 Tog
190 Tog
191 Nat
192 Xat
193 Mar
194 Fla
195 Amp
196 Amp
197 Bel
198 Mar
199 Azu
200 Sud
201 Pol
202 Hop
203 Ski
204 Jum
205 Aip
206 Sun
207 Sun
208 Yan
209 Woo
210 Qua
211 Esp
212 Umb
213 Mur
214 Slo
215 Mis
216 Uno
217 Wob
218 Gir
219 Pin
220 For
221 Dun
222 Gli
223 Ste
224 Ste
225 Snu
226 Gra
227 Qwi
228 Sci
229 Sci
230 Shu
231 Her
232 Her
233 Sne
234 Ted
235 Urs
236 Slu
237 Mag
238 Swi
239 Pil
240 Cor
241 Rem
242 Oct
243 Del
244 Man
245 Ska
246 Hou
247 Hou
248 Hou
249 Kin
250 Pha
251 Don
252 Por
253 Sta
254 Sme
255 Tyr
256 Hit
257 Smo
258 Ele
259 Mag
260 Mil
261 Bli
262 Rai
263 Ent
264 Sui
265 Lar
266 Pup
267 Tyr
268 Tyr
269 Lug
270 Ho-
271 Cel
272 Tre
273 Gro
274 Sce
275 Sce
276 Tor
277 Com
278 Bla
279 Bla
280 Mud
281 Mar
282 Swa
283 Swa
284 Poo
285 Mig
286 Zig
287 Lin
288 Wur
289 Sil
290 Bea
291 Cas
292 Dus
293 Lot
294 Lom
295 Lud
296 See
297 Nuz
298 Shi
299 Tai
300 Swe
301 Win
302 Pel
303 Ral
304 Kir
305 Gar
306 Gar
307 Sur
308 Mas
309 Shr
310 Bre
311 Sla
312 Vig
313 Sla
314 Nin
315 Nin
316 She
317 Whi
318 Lou
319 Exp
320 Mak
321 Har
322 Azu
323 Nos
324 Ski
325 Del
326 Sab
327 Sab
328 Maw
329 Maw
330 Aro
331 Lai
332 Agg
333 Agg
334 Med
335 Med
336 Med
337 Ele
338 Man
339 Man
340 Plu
341 Min
342 Vol
343 Ill
344 Ros
345 Gul
346 Swa
347 Car
348 Sha
349 Sha
350 Wai
351 Wai
352 Num
353 Cam
354 Cam
355 Tor
356 Spo
357 Gru
358 Spi
359 Tra
360 Vib
361 Fly
362 Cac
363 Cac
364 Swa
365 Alt
366 Alt
367 Zan
368 Sev
369 Lun
370 Sol
371 Bar
372 Whi
373 Cor
374 Cra
375 Bal
376 Cla
377 Lil
378 Cra
379 Ano
380 Arm
381 Fee
382 Mil
383 Cas
384 Kec
385 Shu
386 Ban
387 Ban
388 Dus
389 Dus
390 Tro
391 Chi
392 Abs
393 Abs
394 Wyn
395 Sno
396 Gla
397 Gla
398 Sph
399 Sea
400 Wal
401 Cla
402 Hun
403 Gor
404 Rel
405 Luv
406 Bag
407 She
408 Sal
409 Sal
410 Bel
411 Met
412 Met
413 Met
414 Reg
415 Reg
416 Reg
417 Lat
418 Lat
419 Lat
420 Lat
421 Kyo
422 Kyo
423 Gro
424 Gro
425 Ray
426 Ray
427 Jir
428 Deo
429 Deo
430 Deo
431 Deo
432 Tur
433 Gro
434 Tor
435 Chi
436 Mon
437 Inf
438 Pip
439 Pri
440 Emp
441 Sta
442 Sta
443 Sta
444 Bid
445 Bib
446 Kri
447 Kri
448 Shi
449 Lux
450 Lux
451 Bud
452 Ros
453 Cra
454 Ram
455 Shi
456 Bas
457 Bur
458 Wor
459 Wor
460 Wor
461 Mot
462 Com
463 Ves
464 Pac
465 Bui
466 Flo
467 Che
468 Che
469 She
470 Gas
471 Amb
472 Dri
473 Dri
474 Bun
475 Lop
476 Lop
477 Mis
478 Hon
479 Gla
480 Pur
481 Chi
482 Stu
483 Sku
484 Bro
485 Bro
486 Bon
487 Mim
488 Hap
489 Cha
490 Spi
491 Gib
492 Gab
493 Gar
494 Gar
495 Mun
496 Rio
497 Luc
498 Luc
499 Hip
500 Hip
501 Sko
502 Dra
503 Cro
504 Tox
505 Car
506 Fin
507 Lum
508 Man
509 Sno
510 Abo
511 Abo
512 Wea
513 Mag
514 Lic
515 Rhy
516 Tan
517 Ele
518 Mag
519 Tog
520 Yan
521 Lea
522 Gla
523 Gli
524 Mam
525 Por
526 Gal
527 Gal
528 Pro
529 Dus
530 Fro
531 Rot
532 Rot
533 Rot
534 Rot
535 Rot
536 Rot
537 Uxi
538 Mes
539 Aze
540 Dia
541 Pal
542 Hea
543 Reg
544 Gir
545 Gir
546 Cre
547 Phi
548 Man
549 Dar
550 Sha
551 Sha
552 Arc
553 Vic
554 Sni
555 Ser
556 Ser
557 Tep
558 Pig
559 Emb
560 Osh
561 Dew
562 Sam
563 Pat
564 Wat
565 Lil
566 Her
567 Sto
568 Pur
569 Lie
570 Pan
571 Sim
572 Pan
573 Sim
574 Pan
575 Sim
576 Mun
577 Mus
578 Pid
579 Tra
580 Unf
581 Bli
582 Zeb
583 Rog
584 Bol
585 Gig
586 Woo
587 Swo
588 Dri
589 Exc
590 Aud
591 Aud
592 Tim
593 Gur
594 Con
595 Tym
596 Pal
597 Sei
598 Thr
599 Saw
600 Sew
601 Swa
602 Lea
603 Ven
604 Whi
605 Sco
606 Cot
607 Whi
608 Pet
609 Lil
610 Bas
611 San
612 Kro
613 Kro
614 Dar
615 Dar
616 Dar
617 Mar
618 Dwe
619 Cru
620 Scr
621 Scr
622 Sig
623 Yam
624 Cof
625 Tir
626 Car
627 Arc
628 Arc
629 Tru
630 Gar
631 Zor
632 Zor
633 Min
634 Cin
635 Got
636 Got
637 Got
638 Sol
639 Duo
640 Reu
641 Duc
642 Swa
643 Van
644 Van
645 Van
646 Dee
647 Saw
648 Emo
649 Kar
650 Esc
651 Foo
652 Amo
653 Fri
654 Jel
655 Alo
656 Jol
657 Gal
658 Fer
659 Fer
660 Kli
661 Kla
662 Kli
663 Tyn
664 Eel
665 Eel
666 Elg
667 Beh
668 Lit
669 Lam
670 Cha
671 Axe
672 Fra
673 Hax
674 Cub
675 Bea
676 Cry
677 She
678 Acc
679 Stu
680 Mie
681 Mie
682 Dru
683 Gol
684 Gol
685 Paw
686 Bis
687 Bou
688 Ruf
689 Bra
690 Vul
691 Man
692 Hea
693 Dur
694 Dei
695 Zwe
696 Hyd
697 Lar
698 Vol
699 Cob
700 Ter
701 Vir
702 Tor
703 Tor
704 Thu
705 Thu
706 Res
707 Zek
708 Lan
709 Lan
710 Kyu
711 Kyu
712 Kyu
713 Kel
714 Kel
715 Mel
716 Mel
717 Gen
718 Che
719 Qui
720 Che
721 Fen
722 Bra
723 Del
724 Fro
725 Fro
726 Gre
727 Bun
728 Dig
729 Fle
730 Fle
731 Tal
732 Sca
733 Spe
734 Viv
735 Lit
736 Pyr
737 Fla
738 Flo
739 Flo
740 Ski
741 Gog
742 Pan
743 Pan
744 Fur
745 Esp
746 Meo
747 Meo
748 Hon
749 Dou
750 Aeg
751 Aeg
752 Spr
753 Aro
754 Swi
755 Slu
756 Ink
757 Mal
758 Bin
759 Bar
760 Skr
761 Dra
762 Cla
763 Cla
764 Hel
765 Hel
766 Tyr
767 Tyr
768 Ama
769 Aur
770 Syl
771 Haw
772 Ded
773 Car
774 Goo
775 Sli
776 Goo
777 Kle
778 Pha
779 Tre
780 Pum
781 Pum
782 Pum
783 Pum
784 Gou
785 Gou
786 Gou
787 Gou
788 Ber
789 Ava
790 Noi
791 Noi
792 Xer
793 Yve
794 Zyg
795 Dia
796 Dia
797 Hoo
798 Hoo
799 Vol

In [10]:
#find only fire pokemons
fire_type = df.loc[df['Type 1'] == "Fire"]
fire_type.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [11]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
df.sort_values('Attack', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [13]:
df.sort_values(['Attack', 'Defense'], ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [14]:
#1st in ascending and 2nd in descending
df.sort_values(['Type 1', 'Attack'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

# __Make changes to data__
__[For More Markdown](https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet)__

In [15]:
#[:, 4:10] 1st colon for rows and 2nd for columns
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [16]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [17]:
#Save file with no index
df.to_csv('Updated_Pokemon.csv', index = False)
df.to_csv('Updated_Pokemon.txt', index=False, sep='\t')

# Filtering

In [18]:
Grass = df.loc[df['Type 1'] == 'Grass']
Grass.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False

In [19]:
# Can also use & as|
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [20]:
# add new index and drop older one
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [21]:
# HP > 100 and (Poison or grass type (in 2 Columns))
new_df1 = df.loc[((df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')) & (df['HP'] > 100)]
new_df1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [22]:
# HP > 100 and (Fire or grass type (in same 1 column))
df.loc[df['Type 1'].str.contains('Grass|Fire') & (df['HP'] > 100)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [23]:
# Names starting with Pi (^ means starting)
df.loc[df['Name'].str.contains('^Pi')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [24]:
# Change in Type 1 flamer as fire
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
# Change all legendary pokemons as fire type
#df.loc[df['Type 1'] == 'Flamer', 'Legendary'] = True

In [26]:
# Change Gen and Leg as a and b if total . 500
#df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['a', 'b']

In [27]:
# mean by type 1 pokemons and sort by attack in Desc (added numeric only to mean only numeric values)
df.groupby('Type 1').mean(numeric_only=True).sort_values('Attack', ascending=False)
#df['count'] = 1                                         # add count columns which adds up as 1
#df.groupby(['Type 1', 'Type 2'])
#df.groupby('Type 1').sum()
#df.groupby('Type 1').count()
#df.groupby('Type 1').count()['count']                   #shows only counts once

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824